<ion-header>
    <ion-toolbar>
        <ion-title>Crear cuenta</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="start" name="close"></ion-icon>
                Cerrar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form #formulario="ngForm" (ngSubmit)="send()">
        <ion-item>
            <ion-label>Alias</ion-label>
            <ion-input type="text" name="alias" [(ngModel)]="data.alias" placeholder="Escribe un alias" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Banco</ion-label>
            <ion-select name="bank" [(ngModel)]="data.bank_id" placeholder="Select un banco" required>
                <ion-select-option *ngFor="let bank of banks" [value]="bank.id">{{bank.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Tipo de cuenta</ion-label>
            <ion-select name="type" [(ngModel)]="data.account_type_id" placeholder="Select un tipo de cuenta" required>
                <ion-select-option *ngFor="let type of accountTypes" [value]="type.id">{{type.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button type="submit" shape="round" expand="block" [disabled]="formulario.invalid">
            <ion-text class="white">Enviar</ion-text>
        </ion-button>
    </form>
</ion-content>